/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 $primary-color: #00529c;
 $secondary-color: #00aeef;
 
 // Placeholder pour les styles d'input communs
 %input-styles {
	 height: 60px;
	 width: 100%;
	 border: none;
	 padding-left: 20px;
	 outline: none;
	 box-sizing: border-box;
 }
 
 // Placeholder pour le focus des inputs
 %focus-styles {
	 color: $primary-color;
	 font-weight: bold;
 }
 
 .wp-block-create-block-custom-search-block {
	 background-color: $primary-color;
	 color: #fff;
	 padding: 30px 100px;
 
	 .mfcvl-config-store-locator-search-form {
		 display: grid;
		 grid-template-columns: 3fr 2fr 1fr;
		 gap: 20px;
		 justify-content: center;
		 align-items: center;
		 width: 100%;
	 }
 
	 input {
		 padding: 0;
		 border: none;
		 box-sizing: border-box;
	 }
 
	 label {
		 display: none;
	 }
 
	 .form-text, .form-item, .form-select, .form-submit {
		 @extend %input-styles;
	 }
 
	 .form-text::placeholder {
		 color: #999;
		 text-indent: 0; /* Pour que le placeholder soit aligné avec le texte */
	 }
	 
	 .form-text:focus {
		 @extend %focus-styles;
 
		 &::placeholder {
			 @extend %focus-styles;
		 }
	 }
 
	 .form-select {
		 color: $primary-color;
	 }
 
	 .form-submit {
		 background-color: $secondary-color;
		 color: #fff;
		 font-weight: bold;
		 text-transform: uppercase;
		 cursor: pointer;
	 }
 }
 